<div class="title-container">
    <div class="title-content">
        <div class="left-content">
            <h1>Find A <span id='title-span'>Perfect Home</span> To<br> Live With Your Family </h1>
            <p>Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum<br> ipsum et diam justo clita et kasd rebum sea elitr.</p>
            <button>Get Started</button>
            
        </div>
        
        <div class="right-content">
            <img src="/assets/img/carousel-1.jpg"> 
        </div>
    </div>
</div>
<div class='img-icon' id="img-icon-position1">
    <a><i class="material-icons">&#xe5cb;</i></a>
</div>
<div class='img-icon'
id="img-icon-position2">
    <a><i class="material-icons">&#xe5cc;</i></a>
</div>

<app-navbar></app-navbar>